<form method="post" action="{{ path('task_milestones_delete', {'id': task_milestone.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task_milestone.id) }}">
    <button class="btn">Delete</button>
</form>
