{% extends 'base.html.twig' %}

{% block title %}New TaskMilestones{% endblock %}

{% block body %}
    <h1>Create new TaskMilestones</h1>

    {{ include('task_milestones/_form.html.twig') }}

    <a href="{{ path('task_milestones_index') }}">back to list</a>
{% endblock %}
