{% extends 'base.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}
    {% include "main/page_header.html.twig" with {
        page_title: 'New Member',
    } %}
    <section class="row">
        <div class="col">
            {{ include('member/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
