{% extends 'base.html.twig' %}

{% block title %}Home {{parent()}}{% endblock %}

{% block body %}
    {% include "main/page_header.html.twig" with {
        page_title: 'Tasks List',
        actions: [
            {
                action_route: 'report',
                action_class: 'dark',
                link_class: 'light',
                label: 'generate report',
            },{
                action_route: 'user_task_new',
                action_class: 'success',
                label: 'new task',
            },
        ]
    } %}
    <section class="row mb-3">
        {% if tasks is defined%}
            {% include "snippets/tasks_list.html.twig" with { listTitle: 'Your list of Tasks'} %}
        {% endif %}
        {% if pendingTasks is defined %}
            {% include "snippets/tasks_list.html.twig" with { listTitle: 'Your Recently Updated Pending Tasks', tasks: pendingTasks, moreLink: 'user_task_pending', colClass: 'col-sm-12 col-md-6'} %}
        {% endif %}
        {% if completedTasks is defined %}
            {% include "snippets/tasks_list.html.twig" with { listTitle: 'Your Recently Completed Tasks', tasks: completedTasks, moreLink: 'user_task_completed', colClass: 'col-sm-12 col-md-6'} %}
        {% endif %}
    </section>
{% endblock %}
