<div class="float-md-right sticky-top mt-5 pt-5 mr-3 d-md-block d-sm-none d-none">
    <div id="pomotimer" class="bg-default">
        <div id="countdown-timer" class="bg-danger text-center display-4 text-light p-5 border-bottom border-dark rounded-egg rounded-circle">
            <span id="pomoTimeMinutes"></span>:<span id="pomoTimeSeconds">00</span>
        </div>
        <div id="control-buttons" class="" style="position: absolute; left: 40%; top: 12rem;">
            <button id="startPomo" class="btn btn-sm btn-success">Start</button>
            <button id="stopPomo" class="btn btn-sm btn-warning d-none">Stop</button>
            <button id="resetPomo" class="btn btn-sm btn-info d-none">Reset</button>
        </div>
    </div>
</div>