<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | Wok Mas Go Yet</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        {# {{ encore_entry_script_tags('ga') }} #}
    </head>
    <body class="pb-5">
    <div class="container-fluid px-0">
        {% include "main/nav.html.twig" %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </div>
    {{ encore_entry_script_tags('app') }}
    {# <script>
        $mdate = new Date();
        $('#date').append($mdate);
    </script> #}
    {% block javascripts %}{% endblock %}
    </body>
</html>
