<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}| Wok Mas Go Yet{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">
        <link rel="stylesheet" href="/css/style.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-secondary text-light pb-5">
    <div class="container-fluid px-0">
        {% include "main/nav.html.twig" %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </div>
    <div id="date" class="pb-5 container"></div>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script>
        $mdate = new Date();
        $('#date').append($mdate);
    </script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
